body{
    background-color: #fafafa;
}

#userSection{
margin-left: 60px;
}

h3{
    color: white;
    font-family: 'Comfortaa', cursive;

}

h4{
    color: white;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;

}

h6{
    color: white;
    font-family: 'Comfortaa', cursive;

}

h2{
    color: white;
    font-family: 'Comfortaa', cursive;

}