.results-output{

    background-color: #ffffe0;
    font-weight: bold;
    /* text-align: center; */
}
body{
    width:400px;  
    border:3px dashed #d50c9c; 
    padding: 45px;
    margin: 25px;
}


