html{
    height: 100%;
    width: 100%;
    text-align: center;
    color:#000000;
}

body{
    height: 100%;
    width: 100%;
    text-align: center;

}

.page-title{
    text-align: center;
    width: 100%;

    margin-top: 5rem;

}

/* #myForm{
    text-align: center;
    margin-top: 5rem;
    font-size: xx-large;

} */

/* #the-delete-user-form{
    font-size: 2em;
        text-align: center;

} */

input[type=text], select {
    /* font-size: 2em; */
        text-align: center;
    font-size: xx-large;
    height: 100%;
    width: 100%;
}
input[type=email], select {
    /* font-size: 2em; */
        text-align: center;
    font-size: xx-large;
    height: 100%;
    width: 100%;
}
label{
    font-size: xx-large;
    color: #ffff;
}
