
.html {
    background-color: #FCF5E2;
          @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
  }
  html{
  font-family: 'Comfortaa', cursive;
  }
  nav{
  display:flex;
  justify-content: center;
  background-color: #8f50aa; 
  padding: 5px; 
  border-radius: 30px; 
  }



.theClassName {
  color: #4242d3;
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  display:flex;
  text-decoration: none;


}

.theClassName a {
  color: #4242d3;
  text-decoration: none;
}



.nav-links{
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 3px; 
  list-style: none; 
  margin: 2em; 
  border-radius: 10px;
  font-size: 17px;  
  }
  
  .nav-links a {
  color: #ffffff;
  text-decoration: none; 
  } 
  
  a:hover { color: #e9b526; border-radius: 5px; 
  cursor: pointer;}
  
  .titleRow img{
    height: 50px;
    width: 55px;
    object-fit: cover;
  }
  
  .titleRow {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  .title {
    color: #8f50aa;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
  }

  .feedBack{
    color: #4242d3;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    margin-bottom: 50px;
    display:flex;

  }


  

  