/* 
#containerAnimationWelcome {
  position: sticky;
  top: 20px;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
color:#8f50aa;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  color:#8f50aa;
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: 'Comfortaa', cursive;
    font-size: 80pt;

    text-align: center;

    user-select: none;
} */

/* #modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} */

/* #class-border-style{
  border-left: 1px solid;
  padding: 0.7%;
} */

.titRowButs{
  display: inline-flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
  background-color: #8f50aa;
  font-family: 'Comfortaa', cursive;
}
#admin{
  background-color: #6250aa;
  border-color:#6250aa;
  color:white;
  width:150%;
  transition: 0.5s;
}
#admin:hover{
    color:white;
    filter: brightness(60%);
    width:150%;

    transition: 0.5s;
}
#logoutbtn{
  background-color: #dc3545;
  border-color:#dc3545;
  color:white;
  transition: 0.5s;
}
#logoutbtn:hover{
    color:white;
    filter: brightness(60%);
    transition: 0.5s;
}

#getAllClassesContainer:hover{
  background-color: #eadeef;
  /* padding: 0.5%; */
  /* margin-left:0%;
  padding:0%; */
  transition-duration:2s;
  cursor:pointer;
  -webkit-transition-duration:1.5s;
  /* margin-left:2.5%;
  margin-right:2.5%; */
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 5%;
  padding-bottom: 0.5%;


}

#getAllClassesContainer{

  /* margin-left:0px;
  margin-right:0px; */
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 0.5%;

  transition-duration:1s;
}
#feedbackColor{
  color:#6250aa;
}
#hr-length{
  width:50%;
}
#getAllClassesContainerAdditionalClassInfo{
   /* padding: 0.5%; */
  /* margin-left:0%;
  padding:0%; */
  margin-left:0px;
  padding-top: 0%;
  margin-top:5%;
  padding-left: 2.5%;
  /* padding-bottom: 2.5%; */
  /* padding-left: 2%;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%; */
  border-left: 8px solid;
  border-color: #8f50aa;
  border-radius: 10px;
  

}

#likedIt:hover{
  background-color: #4242d3;
}
#likedIt:active{
  background-color: #ffffff;
} 
#dislikedIt:hover{
  background-color: #4242d3;
}
#dislikedIt:active{
  background-color: #ffffff;
} 


#reviewsStyles{
  padding-left: 2%;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 1%;
  border-left: 8px solid;
  border-color: #eadeef;
  border-radius: 10px;
}

#classNameStyle{
  color:#8f50aa;
}
#classNameStyle:hover{
  color: #e9b526;
}
#addClassStyle{
  background-color:#d19dc7;
  border-color:#d19dc7;
  margin-bottom: 45px;
}
/* #getAllClassesContainer:hover{
  background-color: aqua;
  padding: 0.5%;
  transition-duration:1.5s;
  cursor:pointer;
  -webkit-transition-duration:1.5s;
} */
#myForm, #formElem, .mb-3{
  background-color: #eadeef;
}
.html {
    background-color: #FCF5E2;
          /* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap'); */
  }
  html{
  font-family: 'Comfortaa', cursive;
  }
  nav{
  display:flex;
  justify-content: center;
  background-color: #8f50aa; 
  padding: 5px; 
  border-radius: 30px; 
  }

h2{
  font-family: 'Comfortaa', cursive;
}

.theClassName {
  color: #4242d3;
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  display:flex;
  text-decoration: none;


}
.mb-3{
  font-family: 'Comfortaa', cursive;
}
.theClassName a {
  color: #4242d3;
  text-decoration: none;
}

.h2-styles{
  text-align: center;
  font-style: italic;
}



.nav-links{
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 3px; 
  list-style: none; 
  margin: 2em; 
  border-radius: 10px;
  font-size: 17px;  
  }
  

  .nav-links a {
    position: relative;
    color: #ffffff;
  text-decoration: none; 
  }
  
  .nav-links a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #d19dc7;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
      color: #ffffff;
  text-decoration: none; 
    }
  
    .nav-links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: #ffffff;
  text-decoration: none; 
  }
  .nav-links :hover::after {

    color: #ffffff;
  text-decoration: none; 
  }
  
  /* a:hover { color: #e9b526; border-radius: 5px; 
  cursor: pointer;} */
  
  .titleRow img{
    height: 50px;
    width: 55px;
    object-fit: cover;
  }
  
  .titleRow {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }



  #logoutbtn{
    margin-left: 25px;
  }
  
  .title {
    color: #8f50aa;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
  }

  .feedBack{
    color: #4242d3;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    margin-bottom: 50px;
    display:flex;

  }



  #getAllClasses{
    margin-top: 25px;
    margin-left: 50px;
  }

  